---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1></h1>
  <h1 class="text-5xl mb-6">Vue.jsからはじめるReact</h1>

  <section class="mb-8">
    <h2 class="text-2xl mb-2">Dev Tools</h2>
    <div>
      <a class="underline" href="https://react-scan.com/" target="_blank"
        >React Scan</a
      >
    </div>

    <div>
      <a
        class="underline"
        href="https://devtools-next.vuejs.org/"
        target="_blank">Vue DevTools</a
      >
    </div>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl mb-2">Source Code</h2>
    <div>
      <a
        class="underline"
        href="https://github.com/ashphy/react-vue-side-by-side"
        >GitHub Repository</a
      >
    </div>
  </section></Layout
>
