---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>React Vue Side by Side</title>
  </head>
  <body class="p-8 flex">
    <div class="w-[200px]">
      <a
        href="/react-vue-side-by-side"
        class="text-2xl font-bold mb-8 block hover:underline"
      >
        Top
      </a>
      <a class="underline" href="/react-vue-side-by-side/rerender"
        >1. Re-Render Sample</a
      >
    </div>
    <div class="flex-1">
      <slot />
    </div>
  </body>
</html>
